.cards-container{
  display: flex;
  height: 91vh;
  align-items: center;
  background-color: burlywood;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card-img{
  background-color: gray;
  height: 30%;
  // width: 20%;
}

.card{
  height: 80%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  border-radius: 2%;
  margin: 2px;
  cursor: pointer;
}

.info-container :first-child{
  font-size: 15px;
  font-weight: bold;
}

