.mph1{
  font-size: 40px;
  font-weight: bold;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

.edit-navbar{
  border-bottom: 1px solid rgb(211, 211, 211) ;
}

.editp-name{
  font-weight: bold;
  font-size: 35px;
  background-color: rgba(213, 213, 213, 0.512);
}

.edit-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://pbs.twimg.com/media/ExaTwqqWQAM6s9m?format=jpg&name=large');

}

.edit-form{
  box-shadow: inset 4px 4px 4px 4px rgba(0,0,0,0.2) ;
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  // background-color: rgb(145, 145, 145);}
  // background-image: url('https://pbs.twimg.com/media/ExaTwqqWQAM6s9m?format=jpg&name=large');
}

.edit-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: rgb(76, 76, 76);
}

.edit-form form label{
  background-color: #fff;
  border-radius: 4px;
}

.edit-navbar{
  display: flex;
  justify-content: center;
  width: 98vw;
}

.edit-navbar > div{
  display: flex;
  justify-content: center;
  width: 80%;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
  padding: 15px;
  width: 1000px;

}

.passions{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
  padding: 15px;
  width: 1000px;

}

// .passions input{
//   display: flex;
//   text-align: center;
//   width: 800px;
//   margin: 5px;
// }

.age{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
  padding: 15px;
  width: 1000px;

}

.age input{
  display: flex;
  text-align: center;
  width: 800px;
  margin: 5px;
}

.personality{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
  padding: 15px;
  width: 1000px;

}

// .personality input{
//   display: flex;
//   text-align: center;
//   width: 800px;
//   margin: 5px;
// }

.love-language{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
  padding: 15px;
  width: 1000px;

}

.location{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
  padding: 15px;
  width: 1000px;

}

.location input{
  display: flex;
  text-align: center;
  width: 800px;
  margin: 5px;
}

.commitment{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
  padding: 15px;
  width: 1000px;
  background-color: #fff;
  border-radius: 4px;
}

.commitment input{
  display: flex;
  text-align: center;
  width: 800px;
  margin: 5px;
}

.happiness{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
  padding: 15px;
  width: 1000px;
  background-color: #fff;
  border-radius: 4px;
}

.happiness input{
  display: flex;
  text-align: center;
  width: 800px;
  margin: 5px;
}

.description textarea{
  display: flex;
  text-align: center;
  width: 800px;
  margin: 5px;
}

.passion-inputs{
  display: flex;
}

.passion-inputs input{
  margin: 50px;
}

.personality-inputs{
  display: flex;
}

.personality-inputs input{
  margin: 50px;
}