.message-container{
  display: flex;
}

.match-card{
  border: 1px solid black;
  width: 50vw;
  height: 90vh;
}

.match-general{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.4);
  border-radius: 3%;
  background-color: #fff;
}

.matchsp-name{
  font-weight: bold;
}

.matchsp-img-container img{
  height: 100px;
  width: 100px;
  margin: 10px;
}

.match-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchsp{
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.matchsp p{
  // border: 1px solid black;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.matchsp-power-levels{
  display: flex;
}

.matchsp-desc-container label p{
  font-weight: lighter;
  border: 1px solid black;
  height: 100px;
  overflow-y: scroll;
  width: 400px;
}

// .matchsp-desc-container{
//   width: 200px;
// }

.interests-m{
  display: flex;
}

.interests-m p{
  font-weight: lighter;
  // border: 1px solid black;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.ttle{
  font-weight: bold;
}

.traits{
  display: flex;
}

.traits p{
  font-weight: lighter;
  // border: 1px solid black;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.matchsp-ll{
  display: flex;
}

.matchsp-ll p{
  font-weight: lighter;
  // border: 1px solid black;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px
}

.match-card section{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://pbs.twimg.com/media/ExaTwqqWQAM6s9m?format=jpg&name=large');
  // width: 45vw;
}

.messages-nav{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.matchi{
  border-bottom: 0.5px solid lightgray;
}