


.nav{
  width: 100%;
  display: flex;
  height:60px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  right: 0;
  gap:62rem;
  box-shadow: 0px 8px 8px 0px lightgray;
  // border: 1px solid lightgrey;
  // background-color: black;
}

.lol img{
  width:220px;
  height:50px;
  margin-left: 10%;
  position: relative;
}


.links{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
  
   
}

.links > div{
  width:70px;
}

.links button{
  margin-left: 15px;
}

.img-div{
  padding:17px;
  
}

.img-div:hover .profile-tag{
  display: block;
  transition: all ease 2s;
}

.profile-tag{
  display: none;
  position: absolute;
  margin-top: 3px;
  font-size: 14px;
  right: 110px;
  z-index: 4;
  padding:5px;
  background-color: lightgrey;

}

.profile-name{
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
  
}


.profile-name:hover{
  cursor: pointer;
  transition: all ease 0.1s;
  box-shadow: 2px 2px 2px 4px rgba(3, 6, 41, 0.2);
}

.navbar-img{
  position: relative;
  padding: 0;
  border-radius: 50%;
}

// .profile-div{
//    display: flex;
// }



.lol a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  color: black;
  height: 100%;
}

// ::-webkit-scrollbar {
//   width: 20px;
// }

// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px grey; 
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-thumb {
//   background: lightgreen; 
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: greenyellow; 
// }

.navbar-img{
  height: 6vh;
  padding:0;
  aspect-ratio: 1;
  cursor: pointer;
}

.menu{
  position: relative;
  display: inline-block;
}

.button {
  padding: 0;
  width: 50px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 30px;
}
.menu-tag{
  display: none;
  position: absolute;
  right: 15px;
  background-color: lightgrey;
  z-index: 4;
}

.menu-tag > p{  
   font-size: 13px;
   padding:5px;
   
}

.button:hover .menu-tag{
  display: block;
  transition: all ease 2s;
}

.button:hover{
   background-color: lightblue;
   transition: all ease 0.5s;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.menu-dropdown {
  position: absolute;
  padding: 10px;
  top: 100%;

  width:100px;
  z-index: 99;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: #fff;
  right: 15px;
 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}
li {
  padding: 8px 12px;
  
}

.link-1{
   text-decoration: none;
   color:black
}

.link-2{
   text-decoration: none;
   color: black;
}

li:hover {
  background-color: lightblue;
  cursor: pointer;
}