

.nav-bar > div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;

  box-shadow: 0px 8px 8px 0px rgba(96, 83, 83, 0.5);
  // background-color: burlywood;
}

.nav{
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap:60rem;
  // border: 1px solid lightgrey;
  // background-color: black;
}

.lol img{
  width:220px;
  height:50px;
  margin-left: 10%;
  position: relative;
}


.links{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   gap:30px;
   
}

.links > div{
  width:70px;
}

.links button{
  margin-left: 15px;
}
.img-div{
   padding-left: 17px;
  
  
}

.navbar-img{
  position: relative;
  padding: 0;
}

.img-div:hover{
 
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(3, 6, 41, 0.2);
}
// .profile-div{
//    display: flex;
// }

.profile-tag{
  display: none;
  position: absolute;
  margin-top: 3px;
  z-index: 9999;
  font-size: 16px;
  
  float: left;
  
}

.img-div:hover .profile-tag{
  display: block;
  transition: all ease 2s;
}

.lol a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  color: black;
  height: 100%;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: lightgreen; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: greenyellow; 
}

.navbar-img{
  height: 6vh;
  padding:0;
  aspect-ratio: 1;
  cursor: pointer;
}

.menu{
  position: relative;
  display: inline-block;
}

.button {
  padding: 0;
  width: 50px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}