// @import './ExaTwqqWQAM6s9m.jpeg';

.form-input{
    border-radius: 10px;
    width: 85%;
    border: solid red 1px;
    margin: 2px;
    padding: 10px;
}

.form-title{
    color: rgb(176, 0, 0);
    font-weight: bold;
    font-size: xx-large;
}

.submit-button{
    // margin: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: red;
    color: white;
    // height: 30px;
    border-radius: 10px;
}

.signup-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://pbs.twimg.com/media/ExaTwqqWQAM6s9m?format=jpg&name=large');
    height: 100vh;
    background-color: cornflowerblue;
}

.form-title-with-img{
    display: flex;
}

.signup-form{
    display: flex;
    flex-direction: column;
    // justify-content: cender ;
    align-items: center;
    background-color: rgb(158, 203, 255);
    border-radius: 10px;
    width: 200px;
    // min-width: 100px;
    // padding: 10px;
}

