.get-started{
    font-size: x-large;
    font-weight: bolder;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    margin-left: 50px;
    // background: linear-gradient() ;
    background: linear-gradient(#6f00ff, #07a2a0);
    color: white;
    padding: 20px;
}

.welcome-title{
    font-size: 80px;
    // margin-left: 50px;
    font-family: 'Lato', sans-serif;
    padding: 50px;
    padding-top: 100px;
    // margin-top: 10px;
    color: deepskyblue;
}